/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #fff;
    color: #111;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 18px 40px;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    background: white;
    z-index: 5;
}

.logo {
    font-size: 1.6rem;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: .2s;
}

.nav-links a:hover {
    color: #000;
}

/* HERO */
.hero {
    padding: 80px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.highlight {
    color: #2563eb;
}

.hero p {
    color: #555;
    font-size: 1.15rem;
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    background: #2563eb;
    color: #fff;
    padding: 10px 25px;
    border-radius: 25px;
    font-weight: 600;
    transition: .3s;
}

.btn:hover {
    background: #1e4fbf;
}

/* TABS SECTION */
.tabs-section {
    max-width: 850px;
    margin: 40px auto;
    padding: 0 20px;
}

/* TABS */
.tabs {
    display: flex;
    justify-content: center;
    gap: 25px;
    border-bottom: 2px solid #eee;
}

.tab {
    background: none;
    border: none;
    font-size: 1.05rem;
    padding: 12px 0;
    cursor: pointer;
    position: relative;
    color: #333;
}

.tab.active {
    font-weight: 600;
    color: #000;
}

.tab.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #2563eb;
    bottom: -2px;
    left: 0;
}

/* CONTENT */
.tab-content {
    margin-top: 35px;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

h2 {
    margin-bottom: 20px;
}

/* CARDS */
.card, .p-card {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 12px;
    margin-bottom: 20px;
}

.duration {
    color: #777;
    margin-bottom: 10px;
}

/* PROJECTS GRID */
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
}

.p-card a {
    color: #2563eb;
    font-weight: bold;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #666;
    border-top: 1px solid #eee;
    margin-top: 50px;
}
